html {
    font-size: 62.5%;
}

body {
    background: $blue;
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-size: $m-size;
}

.header {
    font-size: $l-size;
    text-align: center;
    color: #cfee05;
}

.start-button-container {
    text-align: center;
}

.start-button {
    width: 200px;
    height: 40px;
    background: #cfee05;
    border: 2px solid red;
}

.timer {
    text-align: center;
    color: #cfee05;
}

.connect-players {
    display: flex;
    justify-content: space-around;
}

.race-track > div {
    margin-left: 5rem;
    padding: 5rem;
}

.player-name {
    width: 100px;
    background: white;
    border: 1px solid green;
}

.player-data {
    display: inline-block;
    text-align: center;
}

.kangaroo {
    max-width: 10rem;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}